
li{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.a{
    text-decoration: none;
    font-family:  Helvetica;
    color: white;

}

#logo{
    width: 10%;
    height: 80%;
}

@media (min-width: 992px) and (max-width: 1199px){
    #logo{
        width: 12%;
        height: 80%;
    }
}