
li{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.a{
    text-decoration: none;
    font-family:  Helvetica;
    color: white;
    svg{
        fill: black;
        transition: fill 0.2s ease-in-out;
        -webkit-transition: fill 0.2s ease-in-out;
        -moz-transition: fill 0.2s ease-in-out;
        -ms-transition: fill 0.2s ease-in-out;
        -o-transition: fill 0.2s ease-in-out;
}
    #fill{
        fill: white;
    }

    svg:hover{
        fill: white;
    }

    svg:hover>#fill{
        fill: black;
    }

}

#logo{
    width: 10%;
    height: 80%;
}

@media (min-width: 992px) and (max-width: 1199px){
    #logo{
        width: 12%;
        height: 80%;
    }
}